*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.footer{
    width: 100%;
    height: 380px;
    background-color: #222;
}
.title{
    text-align: center;
    color: white;
    padding-top: 40px;
}
.desc{
    color: white;
    text-align: center;
    padding-top: 20px;
    width: 40%;
    margin: auto;
}
.icons i {
    font-size: 30px;
    color: white;
    margin-left: 30px;
}
.icons{
    text-align: center;
    font-size: 30px;
    color: white;
    padding-top: 20px;
}
.buttons{
    text-align: center;
    padding-top: 30px;
}
.btn{
    width: 80px;
    height: 30px;
    border-radius: 20px;
    background:transparent;
    color: white;
    border: 1px solid white;
    margin: left 5px ;
    margin-left: 10px;
}
.link{
text-align: center;
padding-top: 50px;
color: white;
}
.link a{
    color: dodgerblue;
    text-decoration: none;
}
